<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1 section-contrast">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-66 md-small-size-100"
          >
            <h3>&nbsp;</h3>
            <h1 class="section-title">Simotus Consulting</h1>
            <h5 class="section-description">
              <strong>Our consultants apply innovation to unlock hidden value within your organization, helping you embrace new technology with solutions to lead the future</strong>
            </h5>
          </div>
        <div class="md-layout-item md-size-44 md-small-size-100">
          <div class="logo-container">
            <img :src="logo" />
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "about",
  data() {
    return {
      logo: require("@/assets/img/sections/simotus-logo2.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.logo-container {
  max-width: 220px;
  max-height: 220px;
  margin: 0 auto;

  img {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container {
    padding-top: 20px;
    img {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 991px) {
  .logo-container {
    padding-top: 80px;
  }
}
</style>
