<template>
  <div class="wrapper anchor-link" id="overview" >
    <!-- Features 3 -->
    <div class="section section-features-3">
      <div class="container">
        <div class="md-layout">
          <div class="md-layout-item md-size-100 md-small-size-100">
            <!-- Some <br /> tags to push the text to align with the image, you can remove it if you have more text on the right side :-) -->
            <h2 class="title">Innovate to stay relevant</h2>
            <h5 class="description">
              Today's competitive landscape is fueled by technology, but traditional R&D departments cannot keep up with the exponential pace in which software and technology inevitably advance. We have the answers to the most common questions businesses are asking today.
            </h5>
            <info-areas info-horizontal icon-color="primary" icon="emoji_objects">
              <h4 class="info-title" slot="title">How to keep up with hundreds of new technologies?</h4>
              <div class="description" slot="content">
                <p>
                  Our team is on top of the bleeding edge technologies so that your R&D department does not need to invest the excessive cost, or allocate the exhaustive time necessary to research, demo, and evaluate the plethora of new technology. Simotus has already done this for you.
                </p>
              </div>
            </info-areas>
            <info-areas
              info-horizontal
              icon-color="primary"
              icon="autorenew"
            >
              <h4 class="info-title" slot="title">What if we already invested in the technology but were not getting the results we want?</h4>
              <div class="description" slot="content">
                <p>Each of our consultants is put through a vigorous and continuous process of education related to their specific area of proficiency. We know the tools, technology, and expertise to quickly unlock the full potential of your technology stack.</p>
              </div>
            </info-areas>
            <info-areas
              info-horizontal
              icon-color="primary"
              icon="done"
            >
              <h4 class="info-title" slot="title">How to reduce R&D expenses and increase turnaround time?</h4>
              <div class="description" slot="content">
                <p>Because of our teams exhastive and collective knowledge base we can leverage results with a faster turn around time, and with zero research and development expenses incurred by your R&D department.</p>
              </div>
            </info-areas>
            <info-areas info-horizontal icon-color="primary" icon="show_chart">
              <h4 class="info-title" slot="title">How to immediately enhance our current teams performance, creativity of ideas, and innovative output?</h4>
              <div class="description" slot="content">
                <p>
                  Choosing Simotus to evaluate your organization means that you will be <u>immediately</u> equipping, deploying, and realizing the 24/7 support of a fully comprehensive, dedicated, and hand vetted team of technical and practical experts whose expertise ranges from software engineering, UI/UX Design, Business Solution Architecting, Machine Learning, Mathmatics, Discrete Analysis, Cloud Computing, Mobile Development, and much more. 
                </p>
              </div>
            </info-areas>
            <info-areas info-horizontal icon-color="primary" icon="arrow_right_alt">
              <h4 class="info-title" slot="title">What are the benefits of innovation consulting?</h4>
              <div class="description" slot="content">
                <p>
                  Whether your looking to uplift your companies innovation through a full suite of new technology solutions, or you need help unlocking the full potential of the technologies your company has invested in, simotus can help you with the transformation necessary to position, embrace, and empower your organizations innovative and competitive lead.
                </p>
              </div>
            </info-areas>
          </div>
        </div>
      </div>
    </div>
    <!-- end Features 3 -->
  </div>
</template>

<script>
import { InfoAreas } from "@/components";
import Mixins from "@/plugins/basicMixins";

export default {
  components: {
    InfoAreas
  },
  mixins: [Mixins.InitMap],
  data() {
    return {
      logo: require("@/assets/img/sections/simotus-logo2.png"),
    };
  },
  methods: {
    sectionbenefits(image) {
      return {
        backgroundImage: `url(${image})`
      };
    }
  }
};
</script>

<style lang="scss">
.justify-content-between {
  justify-content: space-between !important;
}

.description {
  color: #666!important;
}

.section-features-3 {
  padding-bottom:40px;
  padding-top: 40px!important;
}

.info p {
    color: #666!important;
}

</style>
