<template>
  <div class="wrapper anchor-link" id="our-work">
    <div class="section section-contrast">
      <!-- Blogs 1 -->
      <div class="container">
        <div class="md-layout">
          <div class="md-layout-item md-size-80 md-small-size-100 mx-auto">
            <h2 class="title">Case Studies</h2>
            <br />
            <blog-card
              card-plain
              type="horizontal"
              :shadow-normal="false"
              :no-colored-shadow="false"
              :card-image="cardBlogPost.cardBlogPost1"
               v-if="this.$route.path != '/case-study/fraud-detection'"
            >
              <template slot="cardContent">
                <h6 class="card-category text-info">Machine Learning</h6>
                <h3 class="card-title">
                  <a href="/#/case-study/fraud-detection"
                    >Simbox & Fraud Detection</a
                  >
                </h3>
                <p class="card-description">
                  Utilizing the Simotus innovation process we demonstrate how we utilized the latest in machine learning,
                  data streaming, and event driven technologies to…
                  <a href="/#/case-study/fraud-detection"> Read More </a>
                </p>
              </template>
            </blog-card>
            <blog-card
              card-plain
              type="horizontal"
              reverse-row
              :shadow-normal="false"
              :no-colored-shadow="false"
              :card-image="cardBlogPost.cardBlogPost2"
               v-if="this.$route.path != '/case-study/chat-application'"
            >
              <template slot="cardContent">
                <h6 class="card-category text-danger">
                  <md-icon class="text-danger">trending_up</md-icon> REALTIME INFRASTRUCTURE
                </h6>
                <h3 class="card-title">
                  <a href="/#/case-study/chat-application"
                    >Chat Application</a
                  >
                </h3>
                <p class="card-description">
                  
                  As a result of the Simotus innovation process we've implemented a sophisticated chat application
                  that exceeded our clients expectations of a user to user financial
                  exchange system by extrapolating a chat application with an in app marketplace which facilitates……
                  <a href="/#/case-study/chat-application"> Read More </a>
                </p>
              </template>
            </blog-card>
            <blog-card
              card-plain
              type="horizontal"
              :shadow-normal="false"
              :no-colored-shadow="false"
              :card-image="cardBlogPost.cardBlogPost3"
               v-if="this.$route.path != '/case-study/tdd'"
            >
              <template slot="cardContent">
                <h6 class="card-category text-danger">
                  <md-icon class="text-danger">trending_up</md-icon> Lead Generation
                </h6>
                <h3 class="card-title">
                  <a href="/#/case-study/tdd"
                    >TDD Lead Generation & Administration</a
                  >
                </h3>
                <p class="card-description">
                  
                  As a result of the Simotus innovation process we expanded a TDD service coverage solution
                  into a sophisticated lead generation platform that exceeded our clients expectations to allow for an increased
                  acquisition of new customers which……
                  <a href="/#/case-study/tdd"> Read More </a>
                </p>
              </template>
            </blog-card>
          </div>
        </div>
      </div>
      <!-- End Blogs 1 -->
    </div>
  </div>
</template>

<script>
import { BlogCard } from "@/components";
export default {
  name: "blogs",
  components: {
    BlogCard
  },
  data() {
    return {
      cardBlogPost: {
        cardBlogPost1: require("@/assets/img/examples/simbox.jpg"),
        cardBlogPost2: require("@/assets/img/examples/chat.jpg"),
        cardBlogPost3: require("@/assets/img/examples/tdd.jpg")
      },
      cardBlogPost2: {
        cardBlogPost1: require("@/assets/img/examples/blog5.jpg"),
        cardBlogPost2: require("@/assets/img/examples/blog7.jpg")
      },
      cardBlogPost3: {
        cardBlogPost1: require("@/assets/img/examples/blog8.jpg")
      },
      cardBlogPost4: {
        cardBlogPost1: require("@/assets/img/bg5.jpg"),
        cardBlogPost2: require("@/assets/img/examples/blog6.jpg")
      }
    };
  }
};
</script>

<style lang="scss">

</style>
