<template>
  <div class="wrapper anchor-link" id="contact-us">
    <!-- Contact Us 1 -->
    <div
      class="section section-contactus-1"
    >
      <div class="container">
        <div class="md-layout">
          <div class="md-layout-item md-size-100 md-small-size-100 text-center">
            <h2 class="title">Contact Us</h2>
            <h5 class="description">
              Contact us today for a free consulting session with our team. <br/> <strong> <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdk4101fmxpuPl7qYcCzPTTr1iWqbSU_W7DaKnIx-dfBjMjqw/viewform?usp=sf_link">Email Us</a></strong>
            </h5>
          </div>
          <!-- <div class="md-layout-item md-size-40 md-small-size-100 ml-auto">
            <md-card class="md-card-contact">
              <md-card-header class="md-card-header-primary text-center">
                <h4 class="card-title">Contact Us</h4>
              </md-card-header>
              <md-card-content>
                <div class="md-layout">
                  <div class="md-layout-item md-size-50 md-small-size-100">
                    <md-field>
                      <label>First Name</label>
                      <md-input v-model="firstName"></md-input>
                    </md-field>
                  </div>
                  <div class="md-layout-item md-size-50 md-small-size-100">
                    <md-field>
                      <label>Last Name</label>
                      <md-input v-model="lastName"></md-input>
                    </md-field>
                  </div>
                </div>
                <md-field>
                  <label>Email Adress</label>
                  <md-input v-model="email" type="email"></md-input>
                </md-field>

                <md-field>
                  <label>Your Message</label>
                  <md-textarea v-model="textarea"></md-textarea>
                </md-field>
              </md-card-content>
              <md-card-actions class="d-flex justify-content-between">
                <md-checkbox v-model="boolean">I'm not a robot</md-checkbox>
                <md-button class="md-primary">Send Message</md-button>
              </md-card-actions>
            </md-card>
          </div> -->
        </div>
      </div>
    </div>
    <!-- end Contact Us 1 -->

  </div>
</template>

<script>
import { InfoAreas } from "@/components";
import Mixins from "@/plugins/basicMixins";

export default {
  components: {
    InfoAreas
  },
  mixins: [Mixins.InitMap],
  data() {
    return {
      firstName: null,
      fullName: null,
      lastName: null,
      textarea: null,
      textarea1: null,
      email: null,
      email1: null,
      boolean: false
    };
  }
};
</script>

<style scoped lang="scss">
.justify-content-between {
  justify-content: space-between !important;
}

.section-contactus-1 {
  background-color: #000;
}

.title {
  color: #fff!important;
}

.description {
  color: #fff!important;
}
</style>
