<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1 hero">
      </div>
    </div>
</template>

<script>

export default {
  name: "about",
  data() {
    return {
      logo: require("@/assets/img/sections/simotus-logo2.png"),
      hero: require("@/assets/img/hero.jpg")
    };
  },
};
</script>

<style scoped lang="scss">

.hero {
    display: block;
    position: relative;
    width: 100%;
    height: 560px;
    background: url(/hero.jpg) no-repeat fixed center center;
    background-size: cover;
}
</style>
