<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1 section-contrast">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-100 md-small-size-100"
          >
            <h3>&nbsp;</h3>
            <h1 class="case-study-title">OVERVIEW</h1>
            <h5 class="case-study-description">
              <strong class="standout">Orange Telecommunication</strong>, the tenth largest mobile network operator in the world,
              innovates communication technology, and connects people throughout Europe, Africa, and the Middle East.
              <br/>
              <br/>
              Together, Simotus and <strong class="standout">Orange Liberia</strong> partner to solve simbox and fraud activity in Africa.
              <br/>
              <br/>
              Combinding real-time network monitoring, machine learning, and anomaly detection 
              <strong class="standout">Orange Liberia</strong> has taken a smart and reactive approach to fraud and simbox detection
              through project <strong class="standout">Prism</strong>.
              <br/>
              <br/>
              Following our 
              <strong class="standout"><a href="/#/case-study/innovation-process">Innovation Process</a></strong> 
              we utilized the latest in machine learning, data streaming, and event driven technologies to bring to life
              the most robost and fully scalable anomoly detections platform available on the marketplace for fraud, simbox, and more.
            </h5>
          </div>
        <div class="md-layout-item md-size-100 md-small-size-100">
          <div class="logo-container">
            <img :src="logo" />
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "about",
  data() {
    return {
      logo: require("@/assets/img/case-studies//fraud-detection/simbox-module.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.case-study-title {
  color:#3AA9F4;
}

.logo-container {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  img {
    width: 100%;
  }
}

@media only screen and (min-width: 991px) {
  .logo-container {
    img {
      width: 70%;
    }
  }
}

.section-about-1 {
  padding-top: 0;
}
</style>
