<template>
  <div class="wrapper">
    <!-- elaboration 1 -->
    <div class="section section-elaboration-1 section-contrast">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-small-size-100"
          >
            <h5 class="case-study-description">
              Machine learning based insights are helping <strong class="standout">Orange Liberia</strong> to be more reactive towards unwanted activity on
              telecommunication networks, and can even anticipate new patterns of fradulant activity. Helping optimize operations
              for maximum performance and efficiency.
            </h5>
            <h1 class="case-study-title">FRAUD IS EVERYTHING BUT SILENT</h1>
            <h5 class="case-study-description">
             		SIM box fraud is a counter productive activity that is impacting telecommunication companies around the world. 
                 Estimated global revenue loss from SIM box fraud alone is over $6 Billion (USD) per year.
                 <br/>
                 <br/>
                While SIM box fraud is common around the world it is particularly prevalent in Africa where <strong class="standout">Orange Liberia</strong> is located.
                Traditional approaches of stopping fraudulant activities were considered to be too expensive,
                time consuming, and requiring significant infrustruture.
                <br/>
                <br/>
                <strong class="standout">Orange Liberia</strong> needed a smarter, more sophisticated, easy to deploy system that could stop active fraud, prevent fraud in progress,
                and discourage future fraudulant activity on their network.
                <br/>
                <br/>
                The solution they opted for was a partnership with <strong class="standout">Simotus</strong> and the development of a highly sophisticated 
                machine learning platform <strong class="standout">Prism</strong> that could give them the results they needed.
            </h5>

            <h1 class="case-study-title">BUILDING NEXT GENERATION FRAUD DETECTION</h1>
            <h5 class="case-study-description">
             		<strong class="standout">Simotus</strong> deployed an event driven pipeline that collects and 
                computes more than 1000 datapoints across the <strong class="standout">Orange Liberia</strong> telecommunication network.
                <br/>
                <br/>
                Information is then delegated across several machine learning pipelines to assess the datapoints and gain a greater understanding 
                into network dynamics.
                <br/>
                <br/>
                [[[image]]]
                <br/>
                <br/>
                Together these activities make up project <strong class="standout">Prism</strong> and take only a matter of minutes to perform their complex and 
                computationally heavy processes befor yielding daily and trending network statistics.
                <br/>
                <br/>
                <strong class="standout">Simotus</strong> then contributed with the rollout and integration of a fully automated suite of features to suspend and 
                review fraudulent activity as they are detected on the network.
            </h5>

            <h1 class="case-study-title">THE FUTURE</h1>
            <h5 class="case-study-description">
                Today <strong class="standout">Orange Liberia</strong> is accelerating into the future with their innovative approach against simbox and fraudulant activity.
                By incorperating the latest technologies in machine learning <strong class="standout">Orange Liberia</strong> is fully embrassing the next steps of
                understanding and exploring all of their networks data through the use of machine learning.
            </h5>
          </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "elaboration",
  data() {
    return {
      logo: require("@/assets/img/sections/simotus-logo2.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.logo-container {
  max-width: 220px;
  max-height: 220px;
  margin: 0 auto;

  img {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container {
    padding-top: 20px;
    img {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 991px) {
  .logo-container {
    padding-top: 80px;
  }
}
</style>
