<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1">
      <div class="container">
        <div class="md-layout">
          <div class="md-layout-item md-size-44 md-small-size-100">
            <div class="logo-container">
              <img :src="logo" />
            </div>
          </div>
          <div
            class="md-layout-item md-size-66 md-small-size-100"
          >
            <h3>&nbsp;</h3>
            <h1 class="case-study-title">Marketplace</h1>
            <h5 class="case-study-description">
Users can find goods and services made available by authorized vendors.
              <br/>
              <br/>
A search bar conveniently located at the top of the marketplace enables efficient acquisition of goods and services.
              <br/>
              <br/>
Search a direct term (“mobiola”, “shirts”, “apples”), or search category terms (“food”, “clothing”, “furniture”, “electronics”).

            </h5>
          </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "about",
  data() {
    return {
      logo: require("@/assets/img/case-studies/chat-application/slide7.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.case-study-title {
  color:#F46524;
}

.logo-container {
  margin: 0 auto;

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 991px) {
  .logo-container {
    padding-top: 80px;
  }
}

.section-about-1 {
  padding-top: 0;
}
</style>
