<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1">
      <div class="container">
        <div class="md-layout">
          <div class="md-layout-item md-size-44 md-small-size-100">
            <div class="logo-container">
              <img :src="logo" />
            </div>
          </div>
          <div
            class="md-layout-item md-size-66 md-small-size-100"
          >
            <h3>&nbsp;</h3>
            <h1 class="case-study-title">Shopping Cart</h1>
            <h5 class="case-study-description">
Purchasing items from the marketplace is made easy because of the simplicity at which <strong class="standout">Orange Money</strong> facilitates users transactions behind the scenes.
              <br/>
              <br/>
On the surface users can quickly proceed through checkout with the convenience of an elegant shopping cart containing all items they selected from the marketplace.

            </h5>
          </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "about",
  data() {
    return {
      logo: require("@/assets/img/case-studies/chat-application/slide9.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.case-study-title {
  color:#F46524;
}

.logo-container {
  margin: 0 auto;

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 991px) {
  .logo-container {
    padding-top: 80px;
  }
}

.section-about-1 {
  padding-top: 0;
}
</style>
