<template>
  <div class="wrapper anchor-link" id="our-leaders">
    <!-- Team 2 -->
    <div class="section section-team-2">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-66 md-medium-size-100 mx-auto text-center"
          >
            <h2 class="title">Our leaders</h2>
          </div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-50 md-small-size-100">
            <profile-card
              card-plain
              :shadow-normal="false"
              :no-colored-shadow="false"
              :card-image="cardProfile2.cardProfile1"
            >
              <template slot="cardContent">
                <h4 class="card-title">Oumar Kone</h4>
                <h6 class="card-category text-muted">Mr. President</h6>
              </template>
              <template slot="cardAction">
                <md-button
                  href="javascript:void(0)"
                  class="md-linkedin md-just-icon md-round"
                  ><i class="fab fa-linkedin"></i
                ></md-button>
              </template>
            </profile-card>
          </div>
          <div class="md-layout-item md-size-50 md-small-size-100">
            <profile-card
              card-plain
              :shadow-normal="false"
              :no-colored-shadow="false"
              :card-image="cardProfile2.cardProfile2"
            >
              <template slot="cardContent">
                <h4 class="card-title">Ryan Caplette</h4>
                <h6 class="card-category text-muted">Capt. Caplette</h6>
              </template>
              <template slot="cardAction">
                <md-button
                  href="javascript:void(0)"
                  class="md-linkedin md-just-icon md-round"
                  ><i class="fab fa-linkedin"></i
                ></md-button>
              </template>
            </profile-card>
          </div>
        </div>
      </div>
    </div>
    <!-- end Team 2 -->
  </div>
</template>

<script>
import { ProfileCard } from "@/components";
export default {
  name: "teams",
  components: {
    ProfileCard
  },
  data() {
    return {
      cardProfile: {
        cardProfile1: require("@/assets/img/faces/marc.jpg"),
        cardProfile2: require("@/assets/img/faces/kendall.jpg"),
        cardProfile3: require("@/assets/img/faces/christian.jpg"),
        cardProfile4: require("@/assets/img/faces/avatar.jpg")
      },
      cardProfile2: {
        cardProfile1: require("@/assets/img/examples/card-profile1.jpg"),
        cardProfile2: require("@/assets/img/examples/card-profile2.jpg"),
        cardProfile3: require("@/assets/img/examples/card-profile4.jpg")
      },
      cardProfile3: {
        cardProfile1: require("@/assets/img/faces/card-profile1-square.jpg"),
        cardProfile2: require("@/assets/img/faces/card-profile6-square.jpg"),
        cardProfile3: require("@/assets/img/faces/card-profile4-square.jpg"),
        cardProfile4: require("@/assets/img/faces/card-profile2-square.jpg")
      },
      team4: require("@/assets/img/bg7.jpg"),
      team5: require("@/assets/img/examples/city.jpg")
    };
  },
  methods: {
    sectionTeam(image) {
      return {
        backgroundImage: `url(${image})`
      };
    }
  }
};
</script>

<style scoped lang="scss">
.md-card-plain {
  max-width: 200px!important;
  margin: 40px auto;
}
</style>
