<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1 section-contrast">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-small-size-100"
          >
            <h1 class="case-study-title">OVERVIEW</h1>
            <h5 class="case-study-description">
              <strong class="standout">Orange Telecommunication</strong>, the tenth largest mobile network operator in the world,
              innovates communication technology, and connects people throughout Europe, Africa, and the Middle East.
              <br/>
              <br/>
              Together, Simotus and <strong class="standout">Orange Liberia</strong> partner to solve simbox and fraud activity in Africa.
              <br/>
              <br/>
              Combinding real-time network monitoring, machine learning, and anomaly detection 
              <strong class="standout">Orange Liberia</strong> has taken a smart and reactive approach to fraud and simbox detection
              through project <strong class="standout">Prism</strong>.
            </h5>
          </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "about",
  data() {
    return {
      logo: require("@/assets/img/sections/simotus-logo2.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.logo-container {
  max-width: 220px;
  max-height: 220px;
  margin: 0 auto;

  img {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container {
    padding-top: 20px;
    img {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 991px) {
  .logo-container {
    padding-top: 80px;
  }
}

.section-about-1 {
  padding-top: 0;
}
</style>
