<template>
  <div class="wrapper anchor-link" id="our-work">
    <div class="section section-contrast">
      <!-- Blogs 1 -->
      <div class="container">
        <div class="md-layout">
          <div class="md-layout-item md-size-80 md-small-size-100 mx-auto">
            <h2 class="title">Related Content</h2>
            <br />
            <blog-card
              card-plain
              type="horizontal"
              :shadow-normal="false"
              :no-colored-shadow="false"
              :card-image="cardBlogPost.cardBlogPost1"
            >
              <template slot="cardContent">
                <h6 class="card-category text-info">Machine Learning</h6>
                <h3 class="card-title">
                  <a href="javascript:void(0)"
                    >Simbox Detection</a
                  >
                </h3>
                <p class="card-description">
                  Like so many organizations these days, Autodesk is a company
                  in transition. It was until recently a traditional boxed
                  software company selling licenses. Today, it’s moving to a
                  subscription model. Yet its own business model disruption is
                  only part of the story — and…
                  <a href="javascript:void(0)"> Read More </a>
                </p>
              </template>
            </blog-card>
            <blog-card
              card-plain
              type="horizontal"
              reverse-row
              :shadow-normal="false"
              :no-colored-shadow="false"
              :card-image="cardBlogPost.cardBlogPost2"
            >
              <template slot="cardContent">
                <h6 class="card-category text-danger">
                  <md-icon class="text-danger">trending_up</md-icon> Event Driven
                </h6>
                <h3 class="card-title">
                  <a href="javascript:void(0)"
                    >6 insights into the French Fashion landscape</a
                  >
                </h3>
                <p class="card-description">
                  Like so many organizations these days, Autodesk is a company
                  in transition. It was until recently a traditional boxed
                  software company selling licenses. Today, it’s moving to a
                  subscription model. Yet its own business model disruption is
                  only part of the story — and…
                  <a href="javascript:void(0)"> Read More </a>
                </p>
              </template>
            </blog-card>
            <blog-card
              card-plain
              type="horizontal"
              :shadow-normal="false"
              :no-colored-shadow="false"
              :card-image="cardBlogPost.cardBlogPost1"
            >
              <template slot="cardContent">
                <h6 class="card-category text-info">Machine Learning</h6>
                <h3 class="card-title">
                  <a href="javascript:void(0)"
                    >Simbox Detection</a
                  >
                </h3>
                <p class="card-description">
                  Like so many organizations these days, Autodesk is a company
                  in transition. It was until recently a traditional boxed
                  software company selling licenses. Today, it’s moving to a
                  subscription model. Yet its own business model disruption is
                  only part of the story — and…
                  <a href="javascript:void(0)"> Read More </a>
                </p>
              </template>
            </blog-card>
            <blog-card
              card-plain
              type="horizontal"
              reverse-row
              :shadow-normal="false"
              :no-colored-shadow="false"
              :card-image="cardBlogPost.cardBlogPost2"
            >
              <template slot="cardContent">
                <h6 class="card-category text-danger">
                  <md-icon class="text-danger">trending_up</md-icon> Event Driven
                </h6>
                <h3 class="card-title">
                  <a href="javascript:void(0)"
                    >6 insights into the French Fashion landscape</a
                  >
                </h3>
                <p class="card-description">
                  Like so many organizations these days, Autodesk is a company
                  in transition. It was until recently a traditional boxed
                  software company selling licenses. Today, it’s moving to a
                  subscription model. Yet its own business model disruption is
                  only part of the story — and…
                  <a href="javascript:void(0)"> Read More </a>
                </p>
              </template>
            </blog-card>
          </div>
        </div>
      </div>
      <!-- End Blogs 1 -->
    </div>
  </div>
</template>

<script>
import { BlogCard } from "@/components";
export default {
  name: "blogs",
  components: {
    BlogCard
  },
  data() {
    return {
      cardBlogPost: {
        cardBlogPost1: require("@/assets/img/examples/card-blog4.jpg"),
        cardBlogPost2: require("@/assets/img/office2.jpg")
      },
      cardBlogPost2: {
        cardBlogPost1: require("@/assets/img/examples/blog5.jpg"),
        cardBlogPost2: require("@/assets/img/examples/blog7.jpg")
      },
      cardBlogPost3: {
        cardBlogPost1: require("@/assets/img/examples/blog8.jpg")
      },
      cardBlogPost4: {
        cardBlogPost1: require("@/assets/img/bg5.jpg"),
        cardBlogPost2: require("@/assets/img/examples/blog6.jpg")
      }
    };
  }
};
</script>

<style lang="scss">

</style>
