<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1 section-contrast">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-100 md-small-size-100"
          >
            <h3>&nbsp;</h3>
            <h1 class="case-study-title description-tight">MISSION STATEMENT</h1>
            <h3></h3>
            <h5 class="case-study-description description-black description-tight">
              <i>"To bring innovation from thought to reality as efficiently as possible and incorporate our clients mission, vision, and values into our work."</i>
            </h5>
        </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "about",
  data() {
    return {
      logo: require("@/assets/img/case-studies/chat-application/login-page.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.case-study-title {
  color:#40BF7C;
}

.logo-container {
  margin: 0 auto;

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 991px) {
  .logo-container {
    padding-top: 80px;
  }
}

.section-about-1 {
  padding-top: 0;
}
</style>
