<template>
  <div class="wrapper">
    <div class="section section-future-1 section-green">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-small-size-100"
          >
            <h5 class="case-study-description description-white description-tight">
              The future of Prism is evolving into a new project that will go beyond just fraud and simbox detection
              to uncover all of the discrete network and customer dynamics that are happening within business operations.
            </h5>
          </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "future",
  data() {
    return {
      logo: require("@/assets/img/sections/simotus-logo2.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.logo-container {
  max-width: 220px;
  max-height: 220px;
  margin: 0 auto;

  img {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container {
    padding-top: 20px;
    img {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 991px) {
  .logo-container {
    padding-top: 80px;
  }
}
</style>
