<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-100 md-small-size-100 description-tight"
          >
            <h3>&nbsp;</h3>
            <h1 class="case-study-title text-center">Innovation Process</h1>
          </div>
          <div class="md-layout-item md-size-60 md-small-size-100 margin-auto">
            <div class="logo-container">
              <img :src="logo" />
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "about",
  data() {
    return {
      logo: require("@/assets/img/case-studies/innovation-process/process.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.case-study-title {
  color:#40BF7C;
}

.logo-container {
  margin: 0 auto;

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container {
    padding-top: 20px;
  }
}

.section-about-1 {
  padding-top: 0;
}

.margin-auto {
  margin: 0 auto;
}
</style>
