<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1 section-contrast">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-small-size-100"
          >
            <h1 class="case-study-title">WE ARE SIMOTUS</h1>
            <h5 class="case-study-description">
              <strong class="standout">Problem Solvers, Creative Thinkers, and Entrepreneur Minds.</strong>
              <br/>
              <br/>
              Together, we are <strong class="standout">Simotus</strong>.
              <br/>
              <br/>
              We are continiously growing and seeking driven minds that are passionate about people and the continious pursuit of self improvement.
            </h5>
          </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "about",
  data() {
    return {
      logo: require("@/assets/img/sections/simotus-logo2.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.logo-container {
  max-width: 220px;
  max-height: 220px;
  margin: 0 auto;

  img {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container {
    padding-top: 20px;
    img {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 991px) {
  .logo-container {
    padding-top: 80px;
  }
}

.section-about-1 {
  padding-top: 0;
}
</style>
