<template>
  <div class="wrapper">
    
    <!-- elaboration 1 -->
    <div class="section section-elaboration-1 section-contrast">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-small-size-100"
          >
            <h5 class="case-study-description">
              As an innovation driven business, we are continiously learning, improving, and implimenting the newest technologies and thinking
              into our practices.
            </h5>
            <h1 class="case-study-title">MOVE WITH INNOVATION</h1>
            <h5 class="case-study-description">
             		The brightest innovations of our times are happening now. To stay relavent a continious commitment towards education and
                improvement must take place. Simotus can help, we offer an extensive educational library and team collabrotive to accelerate your career.
                Individuals who are driven to succeed, desirous of more knowledge, and love to learn will benefit greatly from the
                vast, limitless, and unique education found only within simotus.
            </h5>
            <h1 class="case-study-title">A RESULT DRIVEN COMPANY</h1>
            <h5 class="case-study-description">
                The best part of your journey is that it truly is your journey. There is nothing limiting you from becoming
                a managing partner within <strong class="standout">Simotus</strong>. We are a result driven company.
                We put our trust in our employees, and allow you to partake in the rewards from the results you drive.
                <br>
            </h5>
            <h1 class="case-study-title">OPPORTUNITY FOR GROWTH </h1>
            <h5 class="case-study-description">
             		Unlike traditional employers, <strong class="standout">Simotus</strong> is unrivaled when it comes to the opportunity for growth.
                In addition to the vast and unique educational oppertunty avialable.
                <strong class="standout">Simotus</strong> is also uniquly structure to enable you to move from an associate to a
                managing partner of the firm. Allowing you to take true ownership in Simotus and the future direction of the firm.
            </h5>
          </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "elaboration",
  data() {
    return {
      logo: require("@/assets/img/sections/simotus-logo2.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.logo-container {
  max-width: 220px;
  max-height: 220px;
  margin: 0 auto;

  img {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container {
    padding-top: 20px;
    img {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 991px) {
  .logo-container {
    padding-top: 80px;
  }
}
</style>
