<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1 hero">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-small-size-100"
          >
            <h1 class="case-study-title">CAREERS</h1>
            <h1 class="case-study-title-huge">Problem Solvers <br/> Creative Thinkers <br/> Innovation Architects</h1>
            <h1 class="case-study-title-huge"></h1>
            <h1 class="case-study-title-huge"></h1>
            <h5 class="case-study-title-huge">UNQUIE CHALLENGES<br/> FOR NEXT GENERATION <br/> MINDS</h5>
          </div>
        </div>
        </div>
        </div>
    </div>
</template>

<script>

export default {
  name: "about"
};
</script>

<style scoped lang="scss">

.hero {
    display: block;
    position: relative;
    width: 100%;
    height: 560px;
    background: url(/case-studies/prism.jpg) no-repeat fixed center center;
    background-size: cover;
}

.case-study-title {
  text-align: center;
  padding-top:10px;
  color: #fff;
  font-size:27px;
}

.case-study-title-huge {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #40BF7C;
    font-size: 2.25rem;
    font-weight: 700;
    color: #fff;
}

h5 {
  font-size: 1.0625rem!important;
}

</style>
