<template>
  <div class="wrapper anchor-link" id="our-leaders">
    <!-- Team 1 -->
    <div class="section section-team-1 section-contrast">
      <div class="container">
        <div class="md-layout">
          <div class="md-layout-item md-size-25 md-small-size-100">
            <profile-card
              card-plain
              card-avatar
              :shadow-normal="false"
              :no-colored-shadow="false"
              :card-image="cardProfile.cardProfile1"
            >
              <template slot="cardContent">
                <h4 class="card-title">Associate</h4>
                <p class="card-description">
                  Starting your career at simotus as an associate is an excellent opportunty for recent college graduates and new talent.
                </p>
              </template>
            </profile-card>
          </div>
          <div class="md-layout-item md-size-25 md-small-size-100">
            <profile-card
              card-plain
              card-avatar
              :shadow-normal="false"
              :no-colored-shadow="false"
              :card-image="cardProfile.cardProfile2"
            >
              <template slot="cardContent">
                <h4 class="card-title">Jr. Partner</h4>
                <p class="card-description">
                  Progress with experence and begin leading and guiding newer talent
                </p>
              </template>
            </profile-card>
          </div>
          <div class="md-layout-item md-size-25 md-small-size-100">
            <profile-card
              card-plain
              card-avatar
              :shadow-normal="false"
              :no-colored-shadow="false"
              :card-image="cardProfile.cardProfile3"
            >
              <template slot="cardContent">
                <h4 class="card-title">Sr. Partner</h4>
                <p class="card-description">
                  Become a distinguished member of our team and begin helping lead the future of Simotus
                </p>
              </template>
            </profile-card>
          </div>
          <div class="md-layout-item md-size-25 md-small-size-100">
            <profile-card
              card-plain
              card-avatar
              :shadow-normal="false"
              :no-colored-shadow="false"
              :card-image="cardProfile.cardProfile4"
            >
              <template slot="cardContent">
                <h4 class="card-title">Managing Partner</h4>
                <p class="card-description">
                  Make the investment to become a Managing Partner, or contribute by bringing in new business to establish yourself as a Managing Partner.
                </p>
              </template>
            </profile-card>
          </div>
        </div>
      </div>
    </div>
    <!-- end Team 1 -->
  </div>
</template>

<script>
import { ProfileCard } from "@/components";
export default {
  name: "teams",
  components: {
    ProfileCard
  },
  data() {
    return {
      cardProfile: {
        cardProfile1: require("@/assets/img/faces/marc.jpg"),
        cardProfile2: require("@/assets/img/faces/kendall.jpg"),
        cardProfile3: require("@/assets/img/faces/christian.jpg"),
        cardProfile4: require("@/assets/img/faces/avatar.jpg")
      },
      cardProfile2: {
        cardProfile1: require("@/assets/img/examples/card-profile1.jpg"),
        cardProfile2: require("@/assets/img/examples/card-profile2.jpg"),
        cardProfile3: require("@/assets/img/examples/card-profile4.jpg")
      },
      cardProfile3: {
        cardProfile1: require("@/assets/img/faces/card-profile1-square.jpg"),
        cardProfile2: require("@/assets/img/faces/card-profile6-square.jpg"),
        cardProfile3: require("@/assets/img/faces/card-profile4-square.jpg"),
        cardProfile4: require("@/assets/img/faces/card-profile2-square.jpg")
      },
      team4: require("@/assets/img/bg7.jpg"),
      team5: require("@/assets/img/examples/city.jpg")
    };
  },
  methods: {
    sectionTeam(image) {
      return {
        backgroundImage: `url(${image})`
      };
    }
  }
};
</script>

<style scoped lang="scss">
.md-card-plain {
  max-width: 200px!important;
  margin: 40px auto;
}
</style>
