<template>
  <div class="wrapper">
    <div class="main" id="main-panel">
      <!-- hero Section -->
      <div class="cd-section" id="hero">
        <hero></hero>
      </div>

      <!-- about Section -->
      <div class="cd-section" id="about">
        <about></about>
      </div>

      <!-- benefits Section -->
      <div class="cd-section" id="benefits">
        <benefits></benefits>
      </div>

      <!-- elaboration Section -->
      <div class="cd-section" id="elaboration">
        <elaboration></elaboration>
      </div>

      <!-- elaboration Section -->
      <!-- <div class="cd-section" id="elaboration">
        <teams></teams>
      </div> -->

      <!-- future Section -->
      <div class="cd-section" id="future">
        <future></future>
      </div>

      <!-- Headers Section -->
      <!-- <div class="cd-section" id="headers">
        <headers></headers>
      </div> -->

      <!-- Features Section -->
      <!-- <div class="cd-section" id="features">
        <features></features>
      </div> -->

      <!-- Teams Section -->
      <!-- <div class="cd-section" id="teams">
        <teams></teams>
      </div> -->

      <!-- Projects Section -->
      <!-- <div class="cd-section" id="projects">
        <projects></projects>
      </div> -->

      <!-- Pricing Section -->
      <!-- <div class="cd-section" id="pricing">
        <pricing></pricing>
      </div> -->

      <!-- Testimonials Section -->
      <!-- <div class="cd-section" id="testimonials">
        <testimonials></testimonials>
      </div> -->

      <!-- ContactUs Section -->
      <div class="cd-section" id="contacts">
        <contact-us></contact-us>
      </div>
    </div>
    <!-- <nav id="cd-vertical-nav" class="vertical-nav-active">
      <ul>
        <li>
          <a
            href="javascript:void(0)"
            @click="scrollToElement('about')"
            data-number="1"
          >
            <span class="cd-dot"></span>
            <span class="cd-label">Simotus</span>
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            @click="scrollToElement('benefits')"
            data-number="2"
          >
            <span class="cd-dot"></span>
            <span class="cd-label">Overview</span>
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            @click="scrollToElement('blogs')"
            data-number="3"
          >
            <span class="cd-dot"></span>
            <span class="cd-label">Case Studies</span>
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            @click="scrollToElement('teams')"
            data-number="4"
          >
            <span class="cd-dot"></span>
            <span class="cd-label">Our Leaders</span>
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            @click="scrollToElement('contactus')"
            data-number="8"
          >
            <span class="cd-dot"></span>
            <span class="cd-label">Contact Us</span>
          </a>
        </li>
      </ul>
    </nav> -->
  </div>
</template>

<script>
import Headers from "./careers/Headers";
import Hero from "./careers/Hero";
import Features from "./careers/Features";
import Benefits from "./careers/Benefits";
import Future from "./careers/Future";
import Elaboration from "./careers/Elaboration";
import About from "./careers/About";
import Blogs from "./careers/Blogs";
import Teams from "./careers/Teams";
import Projects from "./careers/Projects";
import Pricing from "./careers/Pricing";
import Testimonials from "./careers/Testimonials";
import ContactUs from "./careers/ContactUs";
import Mixins from "@/plugins/basicMixins";

export default {
  mixins: [Mixins.VerticalNav],
  components: {
    Hero,
    Headers,
    Features,
    Benefits,
    Future,
    Elaboration,
    About,
    Blogs,
    Teams,
    Projects,
    Pricing,
    Testimonials,
    ContactUs
  }
};
</script>

<style scoped lang="scss">
.vertical-nav-active {
  display: block;
}

@media all and (max-width: 768px) {
  .vertical-nav-active {
    display: none;
  }
}

#cd-vertical-nav .cd-dot {
  background-color:#4BAF50!important;
}

</style>
