<template>
  <div class="wrapper">
    <div class="main" id="main-panel">
      <!-- hero Section -->
      <div class="cd-section" id="hero">
        <hero></hero>
      </div>

      <!-- about Section -->
      <div class="cd-section" id="about">
        <about></about>
      </div>

      <!-- slide -->
      <div class="cd-section" id="slide1">
        <slide1></slide1>
      </div>
      <!-- slide -->
      <div class="cd-section" id="Slide2">
        <Slide2></Slide2>
      </div>
      <!-- slide -->
      <div class="cd-section" id="slide3">
        <slide3></slide3>
      </div>
      <!-- slide -->
      <div class="cd-section" id="slide4">
        <slide4></slide4>
      </div>
      <!-- slide -->
      <div class="cd-section" id="slide5">
        <slide5></slide5>
      </div>
      <!-- slide -->
      <div class="cd-section" id="slide6">
        <slide6></slide6>
      </div>
      <!-- slide -->
      <div class="cd-section" id="slide7">
        <slide7></slide7>
      </div>
      <!-- slide -->
      <div class="cd-section" id="slide8">
        <slide8></slide8>
      </div>
      <!-- slide -->
      <div class="cd-section" id="slide9">
        <slide9></slide9>
      </div>
      <!-- slide -->
      <div class="cd-section" id="slide10">
        <slide10></slide10>
      </div>
      <!-- slide -->
      <div class="cd-section" id="slide11">
        <slide11></slide11>
      </div>
      <!-- slide -->
      <div class="cd-section" id="slide12">
        <slide12></slide12>
      </div>
      <!-- slide -->
      <div class="cd-section" id="slide13">
        <slide13></slide13>
      </div>

      <!-- slide -->
      <div class="cd-section" id="our-work">
        <CaseStudies></CaseStudies>
      </div>

      <!-- benefits Section -->
      <div class="cd-section" id="benefits">
        <benefits></benefits>
      </div>

      <!-- ContactUs Section -->
      <div class="cd-section" id="contacts">
        <contact-us></contact-us>
      </div>
    </div>
    <!-- <nav id="cd-vertical-nav" class="vertical-nav-active">
      <ul>
        <li>
          <a
            href="javascript:void(0)"
            @click="scrollToElement('about')"
            data-number="1"
          >
            <span class="cd-dot"></span>
            <span class="cd-label">Simotus</span>
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            @click="scrollToElement('benefits')"
            data-number="2"
          >
            <span class="cd-dot"></span>
            <span class="cd-label">Overview</span>
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            @click="scrollToElement('blogs')"
            data-number="3"
          >
            <span class="cd-dot"></span>
            <span class="cd-label">Case Studies</span>
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            @click="scrollToElement('teams')"
            data-number="4"
          >
            <span class="cd-dot"></span>
            <span class="cd-label">Our Leaders</span>
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            @click="scrollToElement('contactus')"
            data-number="8"
          >
            <span class="cd-dot"></span>
            <span class="cd-label">Contact Us</span>
          </a>
        </li>
      </ul>
    </nav> -->
  </div>
</template>

<script>
import Headers from "./case-studies/tdd/Headers";
import Hero from "./case-studies/tdd/Hero";
import Features from "./case-studies/tdd/Features";
import Benefits from "./case-studies/tdd/Benefits";
import Future from "./case-studies/tdd/Future";
import Elaboration from "./case-studies/tdd/Elaboration";
import About from "./case-studies/tdd/About";
import Slide1 from "./case-studies/tdd/Slide1";
import Slide2 from "./case-studies/tdd/Slide2";
import Slide3 from "./case-studies/tdd/Slide3";
import Slide4 from "./case-studies/tdd/Slide4";
import Slide5 from "./case-studies/tdd/Slide5";
import Slide6 from "./case-studies/tdd/Slide6";
import Slide7 from "./case-studies/tdd/Slide7";
import Slide8 from "./case-studies/tdd/Slide8";
import Slide9 from "./case-studies/tdd/Slide9";
import Slide10 from "./case-studies/tdd/Slide10";
import Slide11 from "./case-studies/tdd/Slide11";
import Slide12 from "./case-studies/tdd/Slide12";
import Slide13 from "./case-studies/tdd/Slide13";
import CaseStudies from "./sections/Blogs";
import Teams from "./case-studies/tdd/Teams";
import Projects from "./case-studies/tdd/Projects";
import Pricing from "./case-studies/tdd/Pricing";
import Testimonials from "./case-studies/tdd/Testimonials";
import ContactUs from "./sections/ContactUs2";
import Mixins from "@/plugins/basicMixins";

export default {
  mixins: [Mixins.VerticalNav],
  components: {
    Hero,
    Headers,
    Features,
    Benefits,
    Future,
    Elaboration,
    About,
    Slide1,
    Slide2,
    Slide3,
    Slide4,
    Slide5,
    Slide6,
    Slide7,
    Slide8,
    Slide9,
    Slide10,
    Slide11,
    Slide12,
    Slide13,
    CaseStudies,
    Teams,
    Projects,
    Pricing,
    Testimonials,
    ContactUs
  }
};
</script>

<style scoped lang="scss">
.vertical-nav-active {
  display: block;
}

@media all and (max-width: 768px) {
  .vertical-nav-active {
    display: none;
  }
}

#cd-vertical-nav .cd-dot {
  background-color:#4BAF50!important;
}

</style>
