<template>
  <div class="wrapper">
    <div class="main" id="main-panel">
      <!-- hero Section -->
      <div class="cd-section" id="hero">
        <div class="section section-about-1 hero">
          <div class="container">
            <div class="md-layout">
              <div
                class="md-layout-item md-small-size-100"
              >
                <h1 class="case-study-title"></h1>
                <h1 class="case-study-title-huge">Questionnaire</h1>
                <h1 class="case-study-title-huge"></h1>
                <h1 class="case-study-title-huge"></h1>
                <h1 class="case-study-title-huge"></h1>
                <h5 class="case-study-title-huge"><a target="_blank" href="https://docs.google.com/document/d/1iS8v7zWvaR-uFoRnpqSthzyYYHA5PJYwMkvlTKiXP2k/edit?usp=sharing">Click Here For Questionnaire</a></h5>
              </div>
            </div>
            </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import Headers from "./case-studies/innovation-process/Headers";
import Hero from "./case-studies/innovation-process/Hero";
import Features from "./case-studies/innovation-process/Features";
import Benefits from "./case-studies/innovation-process/Benefits";
import Future from "./case-studies/innovation-process/Future";
import Elaboration from "./case-studies/innovation-process/Elaboration";
import About from "./case-studies/innovation-process/About";
import Slide1 from "./case-studies/innovation-process/Slide1";
import Slide2 from "./case-studies/innovation-process/Slide2";
import Slide3 from "./case-studies/innovation-process/Slide3";
import Slide4 from "./case-studies/innovation-process/Slide4";
import Slide5 from "./case-studies/innovation-process/Slide5";
import Slide6 from "./case-studies/innovation-process/Slide6";
import Slide7 from "./case-studies/innovation-process/Slide7";
import Slide8 from "./case-studies/innovation-process/Slide8";
import Slide9 from "./case-studies/innovation-process/Slide9";
import CaseStudies from "./sections/Blogs";
import Teams from "./case-studies/innovation-process/Teams";
import Projects from "./case-studies/innovation-process/Projects";
import Pricing from "./case-studies/innovation-process/Pricing";
import Testimonials from "./case-studies/innovation-process/Testimonials";
import ContactUs from "./sections/ContactUs2";
import Mixins from "@/plugins/basicMixins";

export default {
  mixins: [Mixins.VerticalNav],
  components: {
    Hero,
    Headers,
    Features,
    Benefits,
    Future,
    Elaboration,
    About,
    Slide1,
    Slide2,
    Slide3,
    Slide4,
    Slide5,
    Slide6,
    Slide7,
    Slide8,
    Slide9,
    CaseStudies,
    Teams,
    Projects,
    Pricing,
    Testimonials,
    ContactUs
  }
};
</script>

<style scoped lang="scss">
.vertical-nav-active {
  display: block;
}

@media all and (max-width: 768px) {
  .vertical-nav-active {
    display: none;
  }
}

#cd-vertical-nav .cd-dot {
  background-color:#4BAF50!important;
}

</style>
