<template>
  <div class="wrapper">
    <div class="main" id="main-panel">
      <!-- hero Section -->
      <!-- <div class="cd-section" id="hero">
        <hero></hero>
      </div> -->

      <!-- about Section -->
      <div class="cd-section" id="overview">
        <about></about>
      </div>

      <!-- benefits Section -->
      <div class="cd-section" id="benefits">
        <benefits></benefits>
      </div>

      <!-- Headers Section -->
      <!-- <div class="cd-section" id="headers">
        <headers></headers>
      </div> -->

      <!-- Features Section -->
      <!-- <div class="cd-section" id="features">
        <features></features>
      </div> -->

      <!-- Blogs Section -->
      <div class="cd-section" id="our-work">
        <blogs></blogs>
      </div>

      <!-- Teams Section -->
      <div class="cd-section" id="our-leaders">
        <teams></teams>
      </div>

      <!-- Projects Section -->
      <!-- <div class="cd-section" id="projects">
        <projects></projects>
      </div> -->

      <!-- Pricing Section -->
      <!-- <div class="cd-section" id="pricing">
        <pricing></pricing>
      </div> -->

      <!-- Testimonials Section -->
      <!-- <div class="cd-section" id="testimonials">
        <testimonials></testimonials>
      </div> -->

      <!-- ContactUs Section -->
      <div class="cd-section" id="contacts">
        <contact-us></contact-us>
      </div>
    </div>
    <nav id="cd-vertical-nav" class="vertical-nav-active">
      <ul>
        <li>
          <a
            href="javascript:void(0)"
            @click="scrollToElement('overview')"
            data-number="1"
          >
            <span class="cd-dot"></span>
            <span class="cd-label">Simotus</span>
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            @click="scrollToElement('benefits')"
            data-number="2"
          >
            <span class="cd-dot"></span>
            <span class="cd-label">Overview</span>
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            @click="scrollToElement('our-work')"
            data-number="3"
          >
            <span class="cd-dot"></span>
            <span class="cd-label">Case Studies</span>
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            @click="scrollToElement('our-leaders')"
            data-number="4"
          >
            <span class="cd-dot"></span>
            <span class="cd-label">Our Leaders</span>
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            @click="scrollToElement('contacts')"
            data-number="8"
          >
            <span class="cd-dot"></span>
            <span class="cd-label">Contact Us</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import Headers from "./sections/Headers";
import Hero from "./sections/Hero";
import Features from "./sections/Features";
import Benefits from "./sections/Benefits";
import About from "./sections/About";
import Blogs from "./sections/Blogs";
import Teams from "./sections/Teams";
import Projects from "./sections/Projects";
import Pricing from "./sections/Pricing";
import Testimonials from "./sections/Testimonials";
// import ContactUs from "./sections/ContactUs";
import ContactUs from "./sections/ContactUs2";
import Mixins from "@/plugins/basicMixins";

export default {
  mixins: [Mixins.VerticalNav],
  components: {
    Hero,
    Headers,
    Features,
    Benefits,
    About,
    Blogs,
    Teams,
    Projects,
    Pricing,
    Testimonials,
    ContactUs
  },
  mounted: function() {
    let anchor = this.$route.query.q;
      console.log(anchor);
    if (anchor !== 'undefined' && anchor) {
      let element_id = document.getElementById(anchor);
      if (element_id) {
        element_id.scrollIntoView({ block: "start", behavior: "smooth" });
      }
    }
  }
};
</script>

<style scoped lang="scss">
.vertical-nav-active {
  display: block;
}

@media all and (max-width: 768px) {
  .vertical-nav-active {
    display: none;
  }
}

#cd-vertical-nav .cd-dot {
  background-color:#4BAF50!important;
}

</style>
