<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1 hero">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-small-size-100"
          >
            <h1 class="case-study-title">CASE STUDY</h1>
            <h1 class="case-study-title-huge force-orange">Simotus Chat</h1>
            <h1 class="case-study-title-huge"></h1>
            <h1 class="case-study-title-huge"></h1>
            <h1 class="case-study-title-huge"></h1>
            <h5 class="case-study-title-huge">EXCHANGE MONEY<br/> CHAT INSTANTLY<br/> LIVE MARKETPLACE</h5>
          </div>
        </div>
        </div>
        </div>
    </div>
</template>

<script>

export default {
  name: "about"
};
</script>

<style scoped lang="scss">

.hero {
    display: block;
    position: relative;
    width: 100%;
    height: 560px;
    background: url(/case-studies/chat-application.jpg) no-repeat fixed center center;
    background-size: cover;
}

.case-study-title {
  text-align: center;
  padding-top:10px;
  color: #fff;
  font-size:27px;
}

.case-study-title-huge {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #40BF7C;
    font-size: 3.65;
    font-weight: 700;
    color: #fff;
}

.force-orange {
    color: #39C180;
}
</style>
