<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1">
      <div class="container">
        <div class="md-layout">
          <div class="md-layout-item md-size-44 md-small-size-100">
            <div class="logo-container">
              <img :src="logo" />
            </div>
          </div>
          <div
            class="md-layout-item md-size-66 md-small-size-100"
          >
            <h3>&nbsp;</h3>
            <h1 class="case-study-title">Send Money</h1>
            <h5 class="case-study-description">
Send funds quickly and easily with the friends and family in your contact list.
              <br/>
              <br/>
Simply select the money icon located at the top of any chat to enable transaction mode with the other person.
              <br/>
              <br/>
Enter the amount you wish to send and select the outgoing arrow to send money.

            </h5>
          </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "about",
  data() {
    return {
      logo: require("@/assets/img/case-studies/chat-application/slide3.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.case-study-title {
  color:#39C180;
}

.logo-container {
  margin: 0 auto;

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 991px) {
  .logo-container {
    padding-top: 80px;
  }
}

.section-about-1 {
  padding-top: 0;
}
</style>
