<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1">
      <div class="container">
        <div class="md-layout">
          <div class="md-layout-item md-size-44 md-small-size-100">
            <div class="logo-container">
              <img :src="logo" />
            </div>
          </div>
          <div
            class="md-layout-item md-size-66 md-small-size-100"
          >
            <h3>&nbsp;</h3>
            <h1 class="case-study-title">Home Page (Friends)</h1>
            <h5 class="case-study-description">
              After logging into <strong class="standout">Orange Chat</strong>, users are greeted by the friendly faces of their friends.
              <br/>
              <br/>
              Last messages are conveniently displayed.
              <br/>
              <br/>
              Users can quickly locate friends by typing into the “Search Friends” search bar at the top of the application.
              <br/>
              <br/>
              Clicking on a friend from the list will open a direct chat with the person selected (see next slide).
            </h5>
          </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "about",
  data() {
    return {
      logo: require("@/assets/img/case-studies/chat-application/homepage.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.case-study-title {
  color:#39C180;
}

.logo-container {
  margin: 0 auto;

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 991px) {
  .logo-container {
    padding-top: 80px;
  }
}

.section-about-1 {
  padding-top: 0;
}
</style>
