<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1 section-contrast">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-66 md-small-size-100"
          >
            <h3>&nbsp;</h3>
            <h1 class="case-study-title">OVERVIEW</h1>
            <h5 class="case-study-description">
              <strong class="standout">Simotus</strong> has developed a customized lead generation platform
              for <strong class="standout">Orange Liberia</strong> that efficiently facilitates lead management of TDD services.
              <br/>
              <br/>
              Following our 
              <strong class="standout"><a href="/#/case-study/innovation-process">Innovation Process</a></strong> 
              we took the initiative to expanded upon our clients original vision for a tool that users could use to determine their service coverage of TDD services.
              <br/>
              <br/>
              We expanded this vision by incorporating a fully comprehensive lead generation and administration platform to facilitate the increase of sales and conversions.
            </h5>
          </div>
        <div class="md-layout-item md-size-44 md-small-size-100">
          <div class="logo-container">
            <img :src="logo" />
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "about",
  data() {
    return {
      logo: require("@/assets/img/case-studies/tdd/about.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.case-study-title {
  color:#F46524;
}

.logo-container {
  margin: 0 auto;

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 991px) {
  .logo-container {
    padding-top: 80px;
  }
}

.section-about-1 {
  padding-top: 0;
}
</style>
