<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1 section-contrast">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-100 md-small-size-100"
          >
            <h3>&nbsp;</h3>
            <h1 class="case-study-title">Hot Leads</h1>
            <h5 class="case-study-description">
              The TDD Administration panel is displayed on the right of this slide. It is a secure portal for orange employees.
<br/>
<br/>
The Sales List “Hot Leads” is opened in the navigation.
<br/>
<br/>
“Hot Leads” are users who performed a service coverage check, Have TDD in their location, and would like to be contacted by a foot soldier.

            </h5>
          </div>
        <div class="md-layout-item md-size-100 md-small-size-100">
          <div class="logo-container">
            <img :src="logo" />
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "about",
  data() {
    return {
      logo: require("@/assets/img/case-studies/tdd/slide3.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.case-study-title {
  color:#F46524;
}

.logo-container {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  img {
    width: 100%;
  }
}

@media only screen and (min-width: 991px) {
  .logo-container {
    img {
      width: 70%;
    }
  }
}

.section-about-1 {
  padding-top: 0;
}
</style>
