<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1 section-contrast">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-66 md-small-size-100"
          >
            <h3>&nbsp;</h3>
            <h1 class="case-study-title">Service Found!</h1>
            <h5 class="case-study-description">
              Orange customers eligible for TDD are presented with a lead capture form, and begin the sales process.
            </h5>
          </div>
        <div class="md-layout-item md-size-44 md-small-size-100">
          <div class="logo-container">
            <img :src="logo" />
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "about",
  data() {
    return {
      logo: require("@/assets/img/case-studies/tdd/slide1.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.case-study-title {
  color:#F46524;
}

.logo-container {
  margin: 0 auto;

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .logo-container {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 991px) {
  .logo-container {
    padding-top: 80px;
  }
}

.section-about-1 {
  padding-top: 0;
}
</style>
