<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1 section-contrast">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-100 md-small-size-100"
          >
            <h3>&nbsp;</h3>
            <h1 class="case-study-title">Maps! Cold Leads</h1>
            <h5 class="case-study-description">Cold Leads is an interactive map providing a visualization of all users that are NOT eligible for TDD services but have shown interest in using TDD by utilizing the mobile application to check for TDD service coverage in their area.
<br/>
<br/>
This map displays all users from the “Future Leads” sales list. Plus all locations of users that did not provide direct contact information.
            </h5>
          </div>
        <div class="md-layout-item md-size-100 md-small-size-100">
          <div class="logo-container">
            <img :src="logo" />
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "about",
  data() {
    return {
      logo: require("@/assets/img/case-studies/tdd/slide9.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.case-study-title {
  color:#F46524;
}

.logo-container {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  img {
    width: 100%;
  }
}

@media only screen and (min-width: 991px) {
  .logo-container {
    img {
      width: 70%;
    }
  }
}

.section-about-1 {
  padding-top: 0;
}
</style>
