<template>
  <div class="wrapper">
    <!-- About 1 -->
    <div class="section section-about-1">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-100 md-small-size-100"
          >
            <h3>&nbsp;</h3>
            <h1 class="case-study-title">Future Opportunities</h1>
            <h5 class="case-study-description">
              Future Opportunities is a list of all users who performed a service coverage check, did not have service in their requested location, and signed up to be notified when TDD is available for their location.
<br/>
<br/>
This list can assist with evaluating user demand, issuing survey questionnaires, or notifying users in advance that an antenna is going to be coming to their location soon.
            </h5>
          </div>
        <div class="md-layout-item md-size-100 md-small-size-100">
          <div class="logo-container">
            <img :src="logo" />
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: "about",
  data() {
    return {
      logo: require("@/assets/img/case-studies/tdd/slide4.png"),
    };
  },
};
</script>

<style scoped lang="scss">

.case-study-title {
  color:#F46524;
}

.logo-container {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  img {
    width: 100%;
  }
}

@media only screen and (min-width: 991px) {
  .logo-container {
    img {
      width: 70%;
    }
  }
}

.section-about-1 {
  padding-top: 0;
}
</style>
