.tim-row{
    margin-bottom: 20px;
}

.title{
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}

.section-title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #000;
    font-size: 3.65;
    font-weight: 700;
    font-family: 'Graphik Black','Arial Black','Sans-Serif';
}

.section-description {
    color: #666;
}

.case-study-title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #40BF7C;
    font-size: 3.65;
    font-weight: 700;
    font-family: 'Graphik Black','Arial Black','Sans-Serif';
}

.case-study-description {
    font-size: 20px;
    line-height: 27px;
    font-family: "Graphik Regular","Arial Black",Sans-Serif;
    color: #333;
}

.standout {
    font-family: "Graphik Bold","Arial Black",Sans-Serif;
}

.anchor-link {
    padding-top: 50px;
    margin-top: -50px;
}

#tooltips .md-button{
  margin-left: 6px;
}

#notifications .alert {
  border-radius: 0;
}

.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}
.tim-typo .tim-note{
    bottom: 5px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}
#typography h1, #typography h2, #typography h3,
#typography h4, #typography h5, #typography h6{
    margin-bottom: 0;
}

.space{
    height: 130px;
    display: block;
}
.space-110{
    height: 110px;
    display: block;
}
.space-50{
    height: 50px;
    display: block;
}
.space-70{
    height: 70px;
    display: block;
}

.section-gray {
  background-color: #e5e5e5;
}

.section-contrast {
  background-color: #F2F2F2;
  padding-bottom:40px;
}

.section-green {
  background-color: #40BF7C;
  background-image: linear-gradient(to right, #40bf7c, #40b477, #40a972, #3f9f6c, #50b27e);
}

.description-white {
    color: #fff;
    font-family: "Graphik SemiBold","Arial Black",Sans-Serif;
    font-size: 27px;
    line-height: 33px;
    font-weight: 700;
}

.description-green {
    color: #40BF7C;
    font-family: "Graphik SemiBold","Arial Black",Sans-Serif;
    font-size: 27px;
    line-height: 33px;
    font-weight: 700;
}

.description-black {
    color: #000;
    font-family: "Graphik SemiBold","Arial Black",Sans-Serif;
    font-size: 27px;
    line-height: 33px;
    font-weight: 700;
}


@media only screen and (max-width: 768px) {
    .description-tight {
        margin: 0 auto;
        padding: 0;
    }
}

@media only screen and (min-width: 991px) {
    .description-tight {
        margin: 0 auto;
        padding: 0 220px;
    }
}

.navigation-example{
    background-position: center center;
    background-size: cover;
    margin-top:0;
    min-height: 740px;
}
#notifications{
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}
#notifications .alert-danger{
    margin-bottom: 0px;
}
.tim-note{
    text-transform: capitalize;
}

#buttons .md-button{
    margin: 0 2px 15px;
}
.space-100{
    height: 100px;
    display: block;
    width: 100%;
}

.separator{
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}
.separator-line{
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}
.separator.separator-gray{
    background-color: #EEEEEE;
}

.img-container{
    width: 100%;
    overflow: hidden;
}
.img-container img{
    width: 100%;
}

#images h4{
    margin-bottom: 30px;
}
#javascriptComponents{
    padding-bottom: 0;
}

.sharing-area{
    margin-top: 80px;
}
.sharing-area .md-button{
    margin: 15px 4px 0;
    color: #FFFFFF;
}

#navbar{
    margin-bottom: -20px;
}

.section-notifications{
    padding-top: 0;
}
#navigation .navigation-example .md-toolbar{
    border-radius: 0;
}

#navigation .md-dark,
#menu,
#menu .md-primary {
  z-index: 9999;
  position: relative;
}

.section-pagination{
    padding-bottom: 0;
}
.section-download h4{
    margin-bottom: 50px;
}
.section-examples h5{
    margin-top: 30px;
}


.leaf1,
.leaf3,
.leaf4,
.leaf2 {
  position: absolute;
  z-index: 9;
}

.leaf4 {
  right: 172px;
  top: -100px;
  width: 17%;
  width: 32%;
  transform: rotate(-83deg);
}

.leaf3 {
  top: 21px;
  right: -108px;
  left: auto;
  width: 24%;
  transform: rotate(-13deg);
}

.leaf2 {
  width: 25%;
  left: 160px;
  top: -28px;
  transform: rotate(90deg);
}

.leaf1 {
  transform: rotate(0deg);
  right: auto;
  top: 25px;
  width: 15%;
  left: -50px;
}

.social-buttons-demo > [class*="md"] {
  margin: 10px 5px 7px 1px;
}
